<%= render(partial: 'shared/notice', locals: { notice: }) %>

<div class="mt-4">
  <%= link_to new_category_path do %>
    <button class="btn-primary">New Category</button>
  <% end %>
</div>

<div id="categories" class="flex flex-wrap gap-4 mt-4">
  <% @categories.each do |category| %>
    <%= link_to edit_category_path(category) do %>
      <%= render category %>
    <% end %>
  <% end %>
</div>
