<%= render(partial: 'shared/notice', locals: { notice: }) %>

<div class="mt-4">
  <%= render @category %>
</div>

<div class="mt-4">
  <%= button_to "Edit this category", edit_category_path(@category), method: :get, class: 'btn-primary' %>
  <%= button_to "Discard this category", @category, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn-danger"  %>
</div>
