<h3 class="mt-3">Update joke to be funnier</h3>

<%= render "form", joke: @joke %>

<%= button_to "Discard this joke", @joke, method: :delete, class: "btn btn-sm btn-danger", form: { data: { turbo_confirm: 'Are you sure?' } }  %>