<p class="text-2xl mt-4">Update joke to be funnier</p>

<%= render "form", joke: @joke %>

<%= button_to "Discard this joke", @joke, method: :delete, class: "btn-danger mt-4", form: { data: { turbo_confirm: 'Are you sure?' } }  %>